*.drawio
*.md
*.txt
*.env
*.pdf

#Specific Exclusions
database.db
plan.md
attendanceplan.md
leavesplan.md

# Strict Inclusions 
!newtasks.md
!requirements.txt
!setup_backend.bat

#python cache
__pycache__/
#venvs
venv/