*.drawio
// *.md
*.txt
*.env
// *.pdf
*.docx

#Specific Exclusions
# database.db
# plan.md
# attendanceplan.md
# leavesplan.md

# Strict Inclusions 
!newtasks.md
!requirements.txt
!setup_backend.bat
!reseed.md
!rbacplan.md
!plan.md
!content.md
!rbacmodule.md
!LABORATORY MANUAL.PDF"


#python cache
__pycache__/
#venvs
venv/