*.drawio
*.md
*.txt
*.env
*.pdf

#Specific Exclusions
database.db
plan.md


# Strict Inclusions 
!newtasks.md
!requirements.txt
!setup_backend.bat
!leavesplan.md

#python cache
__pycache__/
#venvs
venv/